* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;

    --background: #fff7b8;
    --background-s: #74c2cb;
    --background-altP: #ff7a7a;
    --background-altS: #7c8cff;

    --genius-bg: #fff;

    --main-red: #ff4444;
    --main-green: #4fff6e;
    --main-yellow: #fdff66;
    --main-blue: #4557fb;

    --white: #fff;
    --black: #000;
}
body {
    /*background-color: var(--white);*/
    background: linear-gradient(329.54deg, var(--background) 0%, var(--background-s) 100%) no-repeat;
}
