* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;

    --background: #dddddd;

    --main-red: #ff3b3b;
    --main-green: #57ec39;
    --main-yellow: #fcff39;
    --main-blue: #1d34ff;
}
body {
    background-color: var(--background);
}